<% if user_signed_in? && @list.user = current_user %>
  <section class="index todoapp col-lg-offset-2 col-lg-4 col-sm-offset-2 col-sm-4">
    <header class="header">
      <% if current_user.lists.today == true %>
      <div class="col-lg-12 col-md-12 col-xs-12" id="new-list-form">
        <%= form_for (@list), :validate => true, :class => 'form-group' do |f| %>
          <%= f.text_field :item_one, :class => "new-todo form-control", :placeholder => "Enter mission critical task one" %><br>
          <%= f.text_field :item_two, :class => "new-todo form-control", :placeholder => "Enter mission critical task two" %><br>
          <%= f.text_field :item_three, :class => "new-todo form-control", :placeholder => "Enter task three" %><br>
          <%= f.text_field :item_four, :class => "new-todo form-control", :placeholder => "Enter task four" %><br>
          <%= f.submit "Create a new list for tomorrow", :class => "btn btn-warning btn-lg", :id => "create-list-button"%>
        <% end %>
      </div>
<!--       <button class="btn btn-warning btn-lg" id="the-button">Create a new todo list</button> -->
        <% else %>
          <button class="btn btn-warning btn-lg" id="already-created">Create a new todo list</button>
          <h5 class="index-h4">You've already started tomorrow's list.<br>You have until midnight to edit it.</h5>
      <% end %>
    </header>
  </section>
  <section class="index main col-lg-4 col-sm-4">
    <h1>Your Todos</h1>
    <ul class="todo-list">
      <% current_user.lists.sort_by{|list| -list.id}.each do |list| %>
      <li id="index-list-todos"><a href='<%= list_path(list.id) %>'><%= list.title %></li>
      <% end %>
    </ul>
  </section>
<% else %>

<!-- Landing page -->

  <main role="main" class="container" id="main-body">
    <div class="row">
      <div class="col-lg-6 col-md-6" id="main-landing">
        <h1>The todo app for <br>truly productive people</h1>
        <br>
        <h3>Inspired by the writings of <a href='http://www.fourhourworkweek.com'>Tim Ferriss</a><br> in his book <em>The 4 Hour Work Week</em></h3>
      </div>
      <div class="col-lg-6 col-md-6" id="main-image">
        <%= image_tag("ipad-hand.png") %>
      </div>
    </div>
  </main>
      <div class="row mt centered" id="landing-page-bottom">
        <h1>Your todo list is too long.</h1><br>
        <%= image_tag("screen_shot.png", :size => '800x800', :class => 'box-shadow--8dp') %><br>
        <p id="">The idea behind NATA is that you should never turn up at the start of work without a clear list of your day's priorities. You should be making your todo list no later than this evening.</p>
        <p>NATA allows you to create and edit tomorrow's todo list right up until 11:59pm today.</p>
        <P>Your list should never have more than two <em>mission critical tasks</em>. NATA gives you this plus two more tasks should you feel the need. That's it.</p>
        <p>Regain your day.</p>
      </div>
<% end %>













