<section class="todoapp col-lg-12 col-sm-12">
  <header class="header">
    <h1>Your Todos</h1>
    <%= form_for(@list, :remote => true) do |f| %>
      <%= f.hidden_field :name, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
      <%= f.submit %>
    <% end %>

  </header>
  <section class="main">
    <ul class="todo-list">
      <% @lists.each do |list| %>
      <li><a href='<%= list_path(list.id) %>'><%= list.title %></li>
      <% end %>
    </ul>
  </section>
</section>
