<% if user_signed_in? %>
  <section class="todoapp col-lg-12 col-sm-12">
    <header class="header">
      <h1>Your Todos</h1>
      <% if current_user.lists.today == true %>
      <div id="new-list-form">
        <%= form_for (@list) do |f| %>
          <%= f.text_field :item_one, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
          <%= f.text_field :item_two, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
          <%= f.text_field :item_three, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
          <%= f.text_field :item_four, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
          <%= f.submit "Create a new list for tomorrow", :class => "btn btn-warning btn-lg"%>
        <% end %>

      </div>
      <button class="btn btn-warning btn-lg" id="the-button">the button</button>
        <% else %>
          <h5 class="index-h4">You've already started tomorrow's list.</h5>
          <h5 class="index-h4">View it below. You have until midnight to edit it.</h5>
      <% end %>

    </header>
    <section class="main">
      <ul class="todo-list">
        <% current_user.lists.each do |list| %>
        <li><h3><a href='<%= list_path(list.id) %>'><%= list.title %></h3></li>
        <% end %>
      </ul>
    </section>
  </section>
<% else %>

<!-- Landing page -->

  <main role="main" class="container" id="main-body">
    <div class="row">
      <div class="col-lg-6 col-md-6" id="main-landing">
        <h1>The todo app for <br>truly productive people</h1>
        <br>
        <h3>Inspired by the writings of <a href='http://www.fourhourworkweek.com'>Tim Ferriss</a><br> in his book <em>The 4 Hour Work Week</em></h3>
      </div>
      <div class="col-lg-6 col-md-6" id="main-image">
        <%= image_tag("ipad-hand.png") %>
      </div>
    </div>
  </main>
      <div class="row mt centered" id="landing-page-bottom">
        <h1>Your todo list is too long.</h1><br>
        <%= image_tag("ipad-hand.png") %>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
      </div>
<% end %>