<% if user_signed_in? %>
  <section class="todoapp col-lg-12 col-sm-12">
    <header class="header">
      <h1>Your Todos</h1>
      <% if @lists.today == true %>
        <%= form_for(@list) do |f| %>
          <%= f.hidden_field :name, :class => "new-todo", :placeholder => "Enter a name for a new list..." %>
          <%= f.submit "Create a new list for tomorrow", :class => "btn btn-warning btn-lg"%>
          <% end %>
        <% else %>
          <p>You've already created tomorrow's list</p>
      <% end %>

    </header>
    <section class="main">
      <ul class="todo-list">
        <% @lists.each do |list| %>
        <li><h3><a href='<%= list_path(list.id) %>'><%= list.title %></h3></li>
        <% end %>
      </ul>
    </section>
  </section>
<% else %>

<!-- Landing page -->

  <main role="main" class="container" id="main-body">
    <div class="row">
      <div class="col-lg-6 col-md-6" id="main-landing">
        <h1>The todo app for <br>truly productive people</h1>
        <br>
        <h3>Inspired by the writings of <a href='http://www.fourhourworkweek.com'>Tim Ferris</a><br> in the 4 Hour Work Week</h3>
      </div>
      <div class="col-lg-6 col-md-6" id="main-image">
        <%= image_tag("ipad-hand.png") %>
      </div>
    </div>
  </main>
      <div class="row mt centered" id="landing-page-bottom">
        <h1>Your todo list is too long.</h1>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
        <h3>KANgknkeg ewgkrg wrk</h3>
      </div>
<% end %>