
  <header class="header">
    <h1 id="list-h1"><%= @list.title %></h1>
    <!-- <h1 id="list-h1"><%#= @list.name %></h1> -->
  </header>
	<section class="main">
		<ul class="todo-list">
			<%= render 'lists/item_one' %>
			<%= render 'lists/item_two' %>
			<%= render 'lists/item_three' %>
			<%= render 'lists/item_four' %>
		</ul>
	</section>


