<div class="col-lg-offset-3 col-lg-6 col-sm-offset-3 col-sm-6">
<% if user_signed_in? && @list.user_id = current_user.id %>
  <header class="header">
    <h4 id="show-page-back-link"><%= link_to 'View all lists', root_path %></h4>
    <h1 id="list-h1"><%= @list.title %></h1>
    <!-- <h1 id="list-h1"><%#= @list.name %></h1> -->
  </header>
	<section class="main">
	<% if @list.editable == true %>
		<ul class="todo-list">
		<%= form_for(@list, url: {action: "update"}, :validate => true, :remote => true) do |f| %>
		
			<li class="item" data-id-first="<%= @list.id %>">
				<div class="panel panel-danger box-shadow--8dp">
	  			<div class="panel-heading">
	    			<h5 class="panel-header-title">Mission Critical Task One</h5>
	  			</div>
	  			<div class="panel-body">
						<%= f.text_field :item_one, placeholder: 'Add a task', :class => "edit form-control", :id => "first-form" %>
					</div>
				</div>
			</li>
			<li class="item" data-id-second="<%= @list.id %>">
				<div class="panel panel-info box-shadow--8dp">
	  			<div class="panel-heading">
	    			<h5 class="panel-header-title">Mission Critical Task Two</h5>
	  			</div>
	  			<div class="panel-body">
						<%= f.text_field :item_two, placeholder: 'Add a task', :class => "edit form-control", :id => "second-form" %>
					</div>
				</div>
			</li>
			<li class="item" data-id-third="<%= @list.id %>">
				<div class="panel panel-primary box-shadow--8dp">
	  			<div class="panel-heading">
	    			<h5 class="panel-header-title">Task Three</h5>
	  			</div>
	  			<div class="panel-body">
						<%= f.text_field :item_three, placeholder: 'Add a task', :class => "edit form-control", :id => "third-form" %>
					</div>
				</div>
			</li>
			<li class="item" data-id-fourth="<%= @list.id %>">
				<div class="panel panel-warning box-shadow--8dp">
					<div class="panel-heading">
	   			 <h5 class="panel-header-title">Task Four</h5>
	  			</div>
	  			<div class="panel-body">
						<%= f.text_field :item_four, placeholder: 'Add a task', :class => "edit form-control", :id => "fourth-form" %>
					</div>
				</div>
			</li>
		<li><%= f.submit "Save list", :class => "btn btn-warning btn-lg", :id => "save-button" %></li>
<% end %>
			<%#= render 'lists/item_one' %>
			<%#= render 'lists/item_two' %>
			<%#= render 'lists/item_three' %>
			<%#= render 'lists/item_four' %>
		</ul>
	<% else %>
		<ul class="todo-list">
			<%= render 'lists/completed' %><br>
			<%= render 'lists/item_one_locked' %>
			<%= render 'lists/item_two_locked' %>
			<%= render 'lists/item_three_locked' %>
			<%= render 'lists/item_four_locked' %>
		</ul>
	<% end %>
	</section>
<% else %>

	<h3>Hello there, sneaky. You need to log in or sign up to view this page</h3>

<% end %>

</div>