<section>
	<div class="col-lg-6 col-lg-offset-3">
		<%= image_tag('9953094.jpeg', size: '300x300')%>
		<div>
			<h3 class="text-center">Nino Rosella</h3>
			
			<%= link_to "https://www.github.com/nrosella", :target => "_blank" do %>
  			<%= image_tag('GitHub-Mark.png', size: "40x40", class: "block") %>     
			<% end %>

			<%= link_to "https://www.twitter.com/ninorosella", :target => "_blank" do %>
  			<%= image_tag('TwitterLogo_white.png', size: "40x40", class: "block") %>     
			<% end %>

			<%= link_to "http://www.ninorosella.uk", :target => "_blank" %><br>
			<div class="text-center">----------</div>

			<p>I'm a web developer hailing from sunny old England (yes, we do all talk about the weather. Lots.) I graduated from <a href="http://www.flatironschool.com"> Flatiron School, NYC</a> this summer and I built this todo app for two reasons:</p>
			<ol>
				<li>
					I loved the idea of the todo list that Tim Ferriss proposed in his book <em>The Four Hour Workweek</em>. He states: "I don't recommend using Outlook or computerized to-do lists, because it is possible to add an infinite number of items". Challenge accepted, Tim.
				</li>
				<li>
					I'm looking for my first Junior Developer role and I intend to add this project to my portfolio.
				</li>
			</ol>
		
			<h3 class="text-center">Technologies used</h3>
			<h4>Ruby on Rails, JavaScript, HTML + CSS3 (Bootstrap), jQuery</h4>

		  </div>	
		</div>	
</section>
