<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Not Another Todo App" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Not Another Todo App" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main" class="container-fluid centered" id="main-body">
      <div class="row">
        <div class="col-lg-12" id="oi">
          <%= render 'layouts/messages' %>
          <%= yield %>
       </div>
    </main>
    <footer class="container-fluid centered" id="footer-text">&copy <a href="http://www.ninorosella.uk" target="_blank">Nino Rosella</a> 2015</footer>
  </body>
</html>



